* {
    margin: 0;
    padding-left: 0;
    text-decoration: none;
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;
    position: relative;
    box-sizing: border-box;
}
i {
    cursor: pointer;
}
:root {
    --identity:rgb(56, 56, 255);
}
div.bit-father {
    margin: auto;
    height: 100vh;
    display: grid;
    grid-template-rows: repeat(3,10%) 70%; 
    grid-template-columns: 5% 45% 50%;
}
div.bit-father > div.header {
    grid-row: 1;
    grid-column: 2 / span 2;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.head-cont {
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
div.bit-father > div.header > div.head-cont > div:nth-child(1) {
    font-size: 1rem;
    font-weight: bold;
    color: var(--identity);
    display: flex;
    align-items: center;
}
div.bit-father > div.header > .head-cont >div:nth-child(1) > i {
    color: var(--identity);
    font-size: 2rem;
    margin-right: 10px;
}
div.bit-father > div.header  .head-cont-cont {
    width: 400px;
    color: var(--identity);
    font-size: .8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

div.bit-father > div.header  .head-cont-cont > i {
    font-size: 1.7rem;
}
div.bit-father > div.header  .head-cont-cont > div:first-child {
    width: 180px;
    border-radius: 20px;
    padding: 7px;
    border: .3px solid #eee;
    background-image: linear-gradient(to right, rgb(56 56 255 / 10%) 50%,white 50%);
    display: flex;
    justify-content: space-between;
}
div.bit-father > div.header > .head-cont-cont  div:first-child span {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
}
div.bit-father > div.header > .head-cont-cont  div:first-child span:nth-child(2) {
    color: gray;
}
div.bit-father > div.nav {
    grid-row: 1 / span 4;
    background-color: var(--identity);
}
.nav-cont {
    height: 20%;
    margin-top:100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color:white;
}
@media (max-width:550px) {
    .header {
        grid-column: 1 / span 3 !important;
    }
     .nav {
        display: none;
    }
    .head-cont-cont {
        width: 72% !important;
        font-size: .6rem !important;
    }
    div.bit-father > div.header  .head-cont-cont > div:first-child {
        width: 120px;
    }
    div.bit-father > div.header  .head-cont-cont > i {
        font-size: 1.2rem;
    }
}